<div class="settings-container" mat-dialog-container>
    <div class="header">
        <h1 class="title" mat-dialog-title>Settings</h1>
        <button mat-icon-button (click)="closeDialog(false)" class="close">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <form [formGroup]="settingsForm" class="settings-form">
            <mat-form-field [appearance]="theme === 'dark' ? 'fill' : 'outline'">
                <mat-label>Font Size</mat-label>
                <input matInput type="number" formControlName="fontSize" min="8" max="72" />
            </mat-form-field>
            <mat-form-field [appearance]="theme === 'dark' ? 'fill' : 'outline'">
                <mat-label>Tab Size</mat-label>
                <input matInput type="number" formControlName="tabSize" min="1" max="8" />
            </mat-form-field>
        </form>
    </mat-dialog-content>
      
    <mat-dialog-actions>
        <button mat-raised-button (click)="closeDialog(false)">
            <mat-icon>clear</mat-icon>    
            Cancel
        </button>
        <button mat-raised-button color="primary" (click)="onSave()" [disabled]="settingsForm.invalid">
            <mat-icon>save</mat-icon>
            Save
        </button>
    </mat-dialog-actions>
</div>
