.settings-container {
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: center;

    button {
        margin-right: 10px;
    }
}

.settings-form {
    display: flex;
    flex-direction: column;
}

mat-dialog-actions {
    display: flex;
    justify-content: space-between;
}

:host-context(.dark-theme) {
    .settings-container {
        background-color: #aaaaaa;
    }

}

:host-context(.light-theme) {
    .settings-container {
        background-color: #ffffff
    }
}
