.settings-container {
    overflow: hidden;
    background-color: var(--toolbar);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: center;

    button {
        margin-right: 10px;
    }
}

.settings-form {
    display: flex;
    flex-direction: column;
}

mat-dialog-actions {
    display: flex;
    justify-content: space-between;
}

:host-context(.light-theme) {
    --mdc-dialog-subhead-color: var(--font-color);
    --mdc-outlined-text-field-label-text-color: var(--font-color);
    --mdc-outlined-text-field-input-text-color: var(--font-color);
    --mdc-outlined-text-field-hover-label-text-color: var(--font-color);
    --mdc-outlined-text-field-hover-outline-color: var(--font-color);

    .close {
        color: var(--font-color);
    }

    .close:hover {
        background-color: var(--highlight) !important;
    }

    mat-dialog-actions button {
        background-color: var(--toolbar);
        color: var(--font-color);
        border-radius: 4px;
    }

    mat-dialog-actions button.mat-raised-button {
        box-shadow: none;
    }

    mat-dialog-actions button:hover {
        background-color: var(--highlight) !important;
    }

    mat-dialog-actions button[disabled] {
        background-color: var(--disabled);
        color: rgba(0, 0, 0, 0.38);
        cursor: not-allowed;
        box-shadow: none;
    }

    mat-dialog-actions button[disabled]:hover {
        background-color: var(--disabled);
    }
}
