.console-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 40vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5svh;
    width: calc(100% - 1em);
    padding-left: 1em;
    color: var(--font-color);
    background-color: var(--header);

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
    }
}

.header > button {
    color: var(--font-color);
}

:host-context(.light-theme) {
    .header > button:hover {
        background-color: var(--highlight) !important;
    }
}

.terminal {
    flex: 1;
    width: 90%;
    line-height: 1.5;
    padding: 5%;
    border: 0.5px solid var(--border);
    color: var(--font-color);
    font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
    background-color: var(--console);
}

@media (min-width: 992px) {
    .console-container {
        height: calc(100vh - 7.5svh - 0.5px);
        width: 35vw;
    }
}