.console-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 40vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5svh;
    width: calc(100% - 1em);
    padding-left: 1em;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
    }
}

.terminal {
    flex: 1;
    width: 90%;
    line-height: 1.5;
    padding: 5%;
    font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
}

:host-context(.dark-theme) {
    .header {
        color: white;
    }

    .terminal {
        background-color: #201c1c;
        border: 0.5px solid #e6e6e6;
        color: white;
    }
}

:host-context(.light-theme) {
    .header {
        color: black;
        background-color: #e6e6e6;
    }

    .header > button {
        color: black;
    }

    .terminal {
        background-color: #cccccc;
        border: 0.5px solid #181818;
        color: black;
    }
    
}

@media (min-width: 992px) {
    .console-container {
        height: calc(100vh - 7.5svh - 0.5px);
        width: 32vw;
    }
}