<div class="templates-container" [ngClass]="{ 'collapsed': isCollapsed }" mat-dialog-container>
    <div class="header">
        @if (!isCollapsed) {
            <div>Templates</div>
        }
        @if (screenWidth < 992) {
            <button mat-icon-button (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </button>
        } @else {
            <button mat-icon-button (click)="toggleCollapse()">
                @if (isCollapsed) {
                    <mat-icon>keyboard_arrow_left</mat-icon>
                } @else {
                    <mat-icon>keyboard_arrow_right</mat-icon>
                }
            </button>
        }
    </div>
    @if (!isCollapsed) {
        <mat-accordion>
            @for (category of categories; track category; let i = $index) {
                <mat-expansion-panel
                    [expanded]="i === 0"
                    (opened)="panelOpenState.set(true)" 
                    (closed)="panelOpenState.set(false)"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title> {{ category.name }} </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="templates">
                        @for (template of category.templates; track template) {
                            <button mat-stroked-button (click)="showCode(template)">{{ template.name }}</button>
                        }
                    </div>
                </mat-expansion-panel>
            }
        </mat-accordion>
    }
</div>