%full-size {
    width: 100%;
    height: 100%;
}
  
.app-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @extend %full-size;
}

.core {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

app-code {
    flex: 1;
}

.dark-theme {
    .core {
        background-color: #222222;
    }
}

.light-theme {
    .core {
        background-color: #f5f5f5;
    }
}

@media (min-width: 992px) {
    .core {
        flex-direction: row;
    }
}