.code-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60vh;
    width: 100vw;
}

.header {
    display: flex;
    align-items: flex-start;
    height: 5svh;
    width: 100%;
}

.file {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

p {
    margin: 0;
}

.control-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    border-right: 0;
}

.editor-container {
    display: flex;
    position: relative;
    overflow: hidden;
    flex: 1;
    width: 100%;
    line-height: 1.5;
    font-family: 'Courier New', monospace;
  
    .line-numbers {
        width: 50px;
        overflow: hidden;
        white-space: pre;
        user-select: none;
        line-height: inherit;
        text-align: right;
        font-size: large;
        padding: 10px;
    }
  
    .editor {
        box-sizing: border-box;
        overflow-x: auto;
        overflow-y: auto;
        line-height: inherit;
        white-space: pre;
        font-family: inherit;
        border: none;
        resize: none;
        outline: none;
        font-size: large;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 10px 10px;
    }
}
 

:host-context(.dark-theme) {
    .code-container {
        border-right: 0.5px solid #e6e6e6;
    }

    .file {
        color: white;
    }

    .control-area {
        border: 0.5px solid #e6e6e6;
        background-color: #181818;
    }

    .editor-container {
        border: 0.5px solid #e6e6e6;

        textarea {
            background-color: #222222;
            color: white;
        }
    }

    .line-numbers {
        border-right: 0.5px solid #e6e6e6;
        background-color: #444444;
        color: white;
    }
}

:host-context(.light-theme) {
    .code-container {
        border-right: 0.5px solid #181818;
    }

    .file {
        color: black;
    }

    .control-area {
        border: 0.5px solid #181818;
        background-color: #e6e6e6;
    }

    .control-area > button {
        color: black;
    }

    .editor-container {
        border: 0.5px solid #181818;

        textarea {
            background-color: #f5f5f5;
            color: black;
        }
    }

    .line-numbers {
        border-right: 0.5px solid #181818;
        background-color: #cccccc;
        color: black;
    }
}

@media (min-width: 992px) {
    .code-container {
        height: calc(100vh - 7.5svh - 0.5px);
        width: 100%;
    }
}