.code-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60vh;
    width: 100vw;
    border-right: 0.5px solid var(--border);
}

.header {
    display: flex;
    align-items: flex-start;
    height: 5svh;
    width: 100%;
}

.file {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    color: var(--font-color);
}

.header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--code);
}

p {
    margin: 0;
}

.control-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    border: 0.5px solid var(--border);
    border-right: 0 !important;
    background-color: var(--header);
}

.control-area > button {
    color: var(--font-color);
}

.editor-container {
    display: flex;
    position: relative;
    overflow: hidden;
    flex: 1;
    width: 100%;
    line-height: 1.5;
    font-family: 'Courier New', monospace;
    border: 0.5px solid var(--border);
  
    .line-numbers {
        min-width: 30px;
        overflow: hidden;
        white-space: pre;
        user-select: none;
        line-height: inherit;
        text-align: center;
        padding: 10px;
        font-size: var(--font-size);
        border-right: 0.5px solid var(--border);
        color: var(--line-numbers);
        background-color: var(--code);
    }
  
    .editor {
        box-sizing: border-box;
        overflow-x: auto;
        overflow-y: auto;
        line-height: inherit;
        white-space: pre;
        font-family: inherit;
        border: none;
        resize: none;
        outline: none;
        font-size: var(--font-size);
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 10px 10px;
    }

    textarea {
        background-color: var(--code);
        color: var(--font-color);
    }
}

:host-context(.light-theme) {
    .control-area > button:hover {
        background-color: var(--highlight) !important;
    }
}

@media (min-width: 992px) {
    .code-container {
        height: calc(100vh - 7.5svh - 0.5px);
        width: calc(65vw - 1px);
    }
}