<div class="code-container">
    <div class="header">
        <div class="file">
            <div class="row">
                <mat-icon>code</mat-icon>
                <p>main.sqz</p>
            </div>
        </div>
        <div class="control-area">
            <button mat-icon-button>
                <mat-icon>play_arrow</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>stop</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>content_copy</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>file_download</mat-icon>
            </button>
        </div>
    </div>
</div>