.toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5svh;
    width: 100%;
}

img {
    height: 90%;
    margin-left: 1rem;
}

.control-area {
    margin-right: 1rem;
}

:host-context(.dark-theme) {
    .toolbar-container {
        border-bottom: 0.5px solid #e6e6e6;
    }

    .control-area > button {
        color: white;
    }

}

:host-context(.light-theme) {
    .toolbar-container {
        border-bottom: 0.5px solid #181818;
    }

    .control-area > button {
        color: black;
    }
}
