html {
    scroll-behavior: smooth;
    background-color: #181818;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

.dark-theme {
    background-color: #222222;
    --background-color: #222222;
    --font-color: white;
    --toolbar: #424242;
    --sidenav: #383838;
    --content: #303030;
    --banner: #222222;
    --border: #e6e6e6;
    --header: #2d2d2d;
    --editor: #1f1f1f;
    --console: #181818;
    --line-numbers: #6d7681;
}

.light-theme {
    background-color: #f5f5f5;
    --background-color: #f5f5f5;
    --font-color: black;
    --toolbar: #F5F5F5;
    --sidenav: #E0E0E0;
    --content: #FFFFFF;
    --banner: #eeeeee;
    --border: #181818;
    --header: #e0e0e0;
    --editor: #ffffff;
    --console: #f8f8f8;
    --line-numbers: #6d7681;
}

app-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}